<div class="page-header">
  <%= link_to comics_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1><%= @comic.title %></h1>
</div>

<div class="table-responsive">
  <h2>Chapters</h2>
  <table class="table table-striped table-hover">
    <tr>
      <th>Chapter</th>
      <th>Complete? </th>
      <th>Page Size</th>
      <th>Archive Size</th>
      <th></th>
    </tr>
    <%= content_tag_for(:tr, @comic.chapters.order(number: :asc)) do |chapter| %>
      <td><%= chapter.display_name %> </td>
      <td><%= if chapter.complete?
                tag(:span, class: "glyphicon glyphicon-ok")
              else
                tag(:span, class: "glyphicon glyphicon-remove")
              end %></td>
      <td><%= number_to_human_size chapter.pages.map(&:file_size).sum %></td>
      <td><%= number_to_human_size chapter.archive.size %></td>
      <td><%= link_to "Read", chapter, class: "btn btn-info pull-right" %> </td>
    <% end %>
  </table>
</div>
