<%= javascript_include_tag :keyboard_navigation %>
<div class="page-header">
  <%= link_to comics_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1><%= @comic.title %></h1>
</div>

<div class="text-center">
  <%= paginate @chapters %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed">
    <tr>
      <th>Chapter</th>
      <th>Translator</th>
      <th></th>
      <th>Page Size</th>
      <th>Archive Size</th>
      <th></th>
    </tr>
    <%= content_tag_for(:tr, @chapters) do |chapter| %>
      <td><%= chapter.display_name %> </td>
      <td><%= chapter.parser.translator %> </td>
      <td><%= if chapter.complete?
                fa_icon "check-square-o 2x text-success", text: "Complete"
              else
                fa_icon "check-square 2x", text: "Incomplete"
              end %></td>
      <td><%= number_to_human_size chapter.pages.map(&:file_size).compact.sum %></td>
      <td><%= number_to_human_size chapter.archive.size %></td>
      <td><%= link_to "Read", chapter, class: "btn btn-sm btn-info pull-right" %> </td>
    <% end %>
  </table>
</div>
